:root { font-size: 14px; }

img { max-width: 100%; height: auto; }

.mtm { margin-top: 1em; }
.mmtm { margin-top: 2em; }
.mrm { margin-right: 1em; }
.mbm { margin-bottom: 1em; }
.mmbm { margin-bottom: 2em; }
.mlm { margin-left: 1em; }

.mtp { padding-top: 1em; }
.mmtp { padding-top: 2em; }
.mrp { padding-right: 1em; }
.mbp { padding-bottom: 1em; }
.mmbp { padding-bottom: 2em; }
.mlp { padding-left: 1em; }

.ntm { margin-top: 0; }
.nrm { margin-right: 0; }
.nbm { margin-bottom: 0; }
.nlm { margin-left: 0; }

.ntp { padding-top: 0; }
.nrp { padding-right: 0; }
.nbp { padding-bottom: 0; }
.nlp { padding-left: 0; }

@media (min-width: 992px) {
    .md-text-left { text-align: left; }
    .md-text-center { text-align: center; }
    .md-text-right { text-align: right; }
    .md-nlp { padding-left: 0; }
    .md-nrp { padding-right: 0; }
    .md-nlm { margin-left: 0; }
    .md-nrm { margin-right: 0; }
}
@media (max-width: 768px) {
    .sm-left { text-align: left; }
    .sm-center { text-align: center; }
    .sm-right { text-align: right; }
    .sm-nlp { padding-left: 0; }
    .sm-nrp { padding-right: 0; }
    .sm-nlm { margin-left: 0; }
    .sm-nrm { margin-right: 0; }
}
@media (max-width: 992px) {
    .xs-left { text-align: left; }
    .xs-center { text-align: center; }
    .xs-right { text-align: right; }
}